.enquiryForm {

  form {

    input, textarea, select {
      @include formInput;
    }

    button {
      @include submitButton;

      &:active, &:hover {
        @include submitButton-hover;
      }
    }

    textarea {
      height: 100px;
    }

    &__date input {
      -webkit-appearance: none;
    }
  }


  &__date, &__people {
    display: flex;
    gap: 5px;

    div {
      flex: 1;
    }
  }
}

.modal button {
  @include submitButton;

  &:active, &:hover {
    @include submitButton-hover;
  }
}