.adminMenu {
  margin-bottom: 50px;

  &__button {
    @include submitButton;
  
    &:hover, &:active {
      @include submitButton-hover;
      color: white;
      text-decoration: none;
    }
  }

  a {
    margin-right: 10px;
  }
}

.editEstablishments {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;

  li {
    padding: 10px;
    border-bottom: 1px solid $color-secondary;
  }
}

// CSS for EditId and AddEstablishment {

.adminForm {
  position: relative;

  input, textarea, select {
    @include formInput;
  }

  button {
    @include submitButton;

    &:active, &:hover {
      @include submitButton-hover;
    }
  }

  textarea {
    height: 200px;
  }

  i {
    font-size: 20px;
  }

  .delete {
    position: absolute;
    right: 0;
  }

}

//CSS for admin messages

.messages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-secondary;
  padding-bottom: 20px;

  &__from, &__email {
    flex: 2;
  }

  &__replyOrDelete {
    flex: 1;
    text-align: right;

    a {
      font-size: 20px;
    }

    button {
      border: 0;
      background: transparent;
      font-size: 20px;

      &:hover, &:active {
        color: $color-primary;
      }
    }
  }

  &__textarea {
    flex-basis: 100%;
  }

  .messageTitle {
    margin-bottom: 0;
    font-weight: bold;
  }
}

//CSS for admin enquiries

.enquiries {
  @extend .messages;

  &__from, &__email {
    flex: 1;
  }

  &__replyOrDelete {
    @extend .messages__replyOrDelete
  }

  &__establishment {
    flex-basis: 100%;
  }

  &__fromDate, &__toDate {
    flex: 1.2;
  }

  &__adults, &__children {
    flex: 1;
  }

  &__textarea {
    flex-basis: 100%;
  }
}