nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: right;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;

  .title {
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 65px;
    left: 15px;
  }

  img {
    width: 50px;
    position: absolute;
    top: 8px;
    left: 15px;
  }

  .nav__bar {
    border: 0;
    border-radius: 3px;
    background: transparent;
    font-size: 30px;
    transition: all .5s ease;
    color: $color-primary;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 15px;

    &:hover {
      color: $color-secondary;
    }
  }

  .closed {
    display: none;
  }
  
}

.nav__toggled {
  background: $color-grey;
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 100vh;
  z-index: 1;
  padding: 70px 25px 0;
  box-sizing: border-box;

  a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid $color-primary;
    text-transform: uppercase;
    font-size: 13px;
    transition: all .5s ease;
  }

  a:hover {
    background: $color-primary;
    color: white;
    text-decoration: none;
  }

  button {
    background: transparent;
    display: block;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid $color-primary;
    text-transform: uppercase;
    font-size: 13px;
    transition: all .5s ease;
    text-align: right;
    width: 100%;

    &:hover {
      background: $color-primary;
      color: white;
      text-decoration: none;
    }
  }

  .active {
    background: $color-primary;
    color: white;
  }

}


@media only screen and (min-width: $breakpoint-tablet) {

  nav {

    button {
      display: none;
    }

    .closed {
      display: block;
    }

    .nav__toggled {
      background: transparent;
      width: 90%;
      height: auto;
      padding: 15px;

      a {
        margin-left: 10px;
        display: inline-block;
        border-bottom: 0;
        padding: 5px 10px;
      }

      button {
        display: inline-block;
        padding: 5px 10px;
        border-bottom: 0;
        text-align: center;
        width: auto;
        margin-left: 10px;
      }
    }
  }
}