html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

header {
  background-image: url('../../components/Images/header.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.container {
  max-width: 1100px;
  margin: 40px auto 20px;
}

.addSpace {
  margin-top: 130px;
  margin-bottom: 50px;
}

.formError {
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid $color-primary;
  border-radius: 5px;
  padding: 5px;

  i {
    font-size: 20px;
  }
}

.formSuccess {
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}