$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;

$color-secondary: #D5977D;
$color-primary: #F22D1B;
$color-light: #FFDACA;
$color-grey: #F2F2F2;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');